
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: Arial, "Times New Roman", sans-serif;
}
body{
	background: #F4F4F4;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
}
span{
	float: right;
	margin-right: 5px;
	font-size: 24px;
}
.clear{
	clear: both;
}
#main{
	width: 90%;
	margin: 25px auto 0px auto;
	background: rgba(255,255,255,0.9);
	border-radius: 8px 0 0 0px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#header{
	background: rgba(0, 0, 0, 0.8);
	padding: 5px 0px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99;
}
#header #logo{
	margin-left: 20px;
	float: left;
	width: 300px;
}
#header #logo h3 a{
	color: white;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}
#header #logo h3 a:hover{
	color: #d4d4d4;	
}
#header #dropdown-menu{
	float: right;
	margin-right: 20px;
}
#header #dropdown-menu > li:nth-child(2)::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 8px solid white;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	right: -5px;
	top: 17px;
}
#header #dropdown-menu li{
	display: inline-block;
	position: relative;
}
#header #dropdown-menu li a{
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding: 0 10px;
	font-weight: 700;
}
#header #dropdown-menu li a:hover{
	color: #d4d4d4;
}
#header #dropdown-menu .sub-menu{
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	top: 100%;
	left: 0;
}
#header #dropdown-menu li:hover .sub-menu{
	display: block;
}
/*------end dropdown-menu-------------*/
#tiki-menu{
	width: 270px;
	border:1px solid #d8d7d7;
	border-radius: 8px 0 0 8px;
	box-shadow: inset -35px 0px 16px -41px rgba(0,0,0,0.45);
	display:inline-block;
	/*float: left;*/
}
#tiki-menu > ul > li{
	position: relative;
}
#tiki-menu > ul > li  a{
	color: black;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding-left: 25px;
	display: block;
	text-transform: capitalize;	
}
#tiki-menu > ul > li > a{
	background-image: url(img/ic_cate_small.png);
	background-repeat: no-repeat;
}

#tiki-menu > ul > li:nth-child(1) > a{
	background-position: 2px -3px;
}

#tiki-menu > ul > li:nth-child(2) > a{
	background-position: 2px -55px;
}

#tiki-menu > ul > li:nth-child(3) > a{
	background-position: 2px -107px;
}

#tiki-menu > ul > li:nth-child(4) > a{
	background-position: 2px -159px;
}

#tiki-menu > ul > li:nth-child(5) > a{
	background-position: 2px -211px;
}

#tiki-menu > ul > li:nth-child(6) > a{
	background-position: 2px -263px;
}

#tiki-menu > ul > li:nth-child(7) > a{
	background-position: 2px -315px;
}

#tiki-menu > ul > li:nth-child(8) > a{
	background-position: 2px -367px;
}


#tiki-menu > ul > li:hover{
	color: white;
	background: #189EFF;
	font-size: 14px;
}
#tiki-menu > ul > li:hover::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 24px solid #189EFF;
	border-right: 0px solid transparent;
	border-bottom: 18px solid transparent;
	right: -24px;
	top: 0px;
	z-index: 99;
}
#tiki-menu > ul .sub-menu{
	display: none;
	position: absolute;
	background: white;
	z-index: 9;
	border:1px solid #d8d7d7;
	border-radius: 6px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	width: 300px;
	left: 100%;
	top: 0;
}
#tiki-menu > ul .sub-menu > li > a:hover{
	text-decoration: underline;
	color: #189EFF;
}
#tiki-menu > ul > li:hover .sub-menu{
	display: block;
}
/*----------------end menu tiki--------------*/
#login{
	margin-top: 25px;
	width: 100%;
	float: right;
	background: #F4F4F4;
	border:1px solid #189EFF;
	position: relative;
}
#form-login{
	float: right;
	background: white;
	height: 500px;
	width: 35%;
	padding: 85px 50px 50px;
}
#form-login img{
	width: 158px;
	height: 32px;
}
p{
	padding-top: 20px;
	padding-bottom: 15px;
	color: #7A8994;
	font-size: 14px; 
}
.divInput{
	width: 100%;
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	padding: 7px 12px 4px;
	margin-bottom: 10px;
}
.divInput label{
	text-transform: uppercase;
	width: 100%;
	display: block;
	color: rgba(0,0,0,0.4);
	font-size: 14px;
}
.divInput input{
	border:none;
	height: 25px;
	width: 100%;
	outline: 0;
}
#form-login > form > button{
	color: white;
	padding: 7px 20px;
	background: #3395ED;
	border:1px solid #3395ED;
	border-radius: 2px;
}
#form-login> form > button:hover{
	background: #66a7e0;
	cursor: pointer;
}
#form-login a:hover{
	color: #66a7e0;
}
#form-login a{
	float: right;
	color: #3395ED;
	font-size: 13px;
	height: 31px;
	line-height: 31px;
}
#form-login > button{
	margin-top: 15px; 
	background: #3b5998;
	padding: 7px 20px;
	border:1px solid #3b5998;
	border-radius: 3px;
	width: 100%;
	text-align: left;
	padding-left: 45px;
	color: white;
	position: relative;
}
#form-login #gg{
	margin-top: 20px; 
	background: #dd4b39;
	padding: 7px 20px;
	border:1px solid #dd4b39;
	border-radius: 3px;
	width: 100%;
	text-align: left;
	padding-left: 45px;
	color: white;
	position: relative;
}
#form-login > button:hover{
	background: #223e79;
	cursor: pointer;
}
#form-login #gg:hover{
	background: #bb4334;
	cursor: pointer;
}
#form-login > button::after{
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
	border-right: 1px solid rgba(0,0,0,0.4) ;
	left:0px;
	top: 0px;
}
#form-login #register{
	display: inline-block;
	padding: 6px;
	padding-top: 20px;
	color: rgba(0,0,0,0.5);
	font-size: 14px;
}
#form-login #register>a{
	float: left;
	height: 17px;
	line-height: 17px;
}
#caption{
	width: 50%;
	float: left;
	position: absolute;
	bottom: 0;
	padding-left: 50px;
}
/*--------------end login codersx---------*/
#tabs{
	width: calc(100% - 270px);
	padding: 15px;
}
#tabs input{
	display: none; 
}
#tabs label{
	display: inline-block;
	padding: 7px 13px 7px;
	text-transform: capitalize;
}
#tabs label:hover{
	cursor: pointer;
}
#tabs section{
	display: none;
	border-top: 1px solid #ddd; 
}
#tabs > input:checked + label {
	color: #3b5998;
	border-bottom: 3px solid #3b5998;
	font-weight: bold;
	font-size: 18px;
}
#tabs #tab1:checked ~ #tab1-content,#tabs #tab2:checked ~ #tab2-content,#tabs #tab3:checked ~ #tab3-content{
	display: block;
}
#tabs .content{
	border-top: 1px solid rgba(0,0,0,0.3);
}

#laban{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
#laban li{
	width: 24.5%;
	display: inline-block;
	padding: 12px 0;
	background-image: url(img/ic_cate_small.png);
	background-repeat: no-repeat;

}
#laban li:nth-child(1){
	background-position: 0 0px;
}
#laban li:nth-child(2){
	background-position: 0 -2223px;
}
#laban li:nth-child(3){
	background-position: 0 -2051px;
}
#laban li:nth-child(4){
	background-position: 0 -1240px;
}
#laban li:nth-child(5){
	background-position: 0 -1137px;
}
#laban li:nth-child(6){
	background-position: 0 -2303px;
}
#laban li:nth-child(7){
	background-position: 0 -2960px
}
#laban li:nth-child(8){
	background-position: 0 -2343px;
}
#laban li:nth-child(9){
	background-position: 0 -2380px;
}
#laban li:nth-child(10){
	background-position: 0 -258px;
}
#laban li:nth-child(11){
	background-position: 0 -2135px;
}
#laban li:nth-child(12){
	background-position: 0 -2883px;
}
#laban li:nth-child(13){
	background-position: 0 -775px;
}
#laban li:nth-child(14){
	background-position: 0 -2802px;
}
#laban li:nth-child(15){
	background-position: 0 -154px;
}
#laban li:nth-child(16){
	background-position: 0 -100px;
}
#laban li:nth-child(17){
	background-position: 0 -775px;
}
#laban li:nth-child(18){
	background-position: 0 -2960px
}
#laban li:nth-child(19){
	background-position: 0 -775px;
}
#laban > ul > li > a{
	padding: 7px;
	color: black;
	font-size: 12px;
	padding-left: 27px;
	line-height: 20px;
}
#laban > ul > li > a:hover{
	color: #00ACC1;
	text-shadow: 0 0 0.9px #00ACC1, 0 0 0.9px #00ACC1;
}
#laban-header{
	width: 100%;
	border-bottom:1px solid #00ACC1;
}
#laban-header span{
	float: left;
	background: #00ACC1;
	color: white;
	font-size: 14px;
	padding: 7px 10px;
}
#tabs #tab2-content{
	padding: 20px;
}
#tabs #tab2-content > label
{
	width: 60px;
	height: 30px;
	border-radius: 50px;
	background: #e3342f;
	position: relative;
}
#tabs #tab2-content span{
	position: absolute;
	top: 4px;
	left: 4px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #fff;
}
#tabs #tab2-content > input:checked ~ label{
	background: #38c172;
}
#tabs #tab2-content > input:checked ~ label >span{
	position: absolute;
	top: 4px;
	right: 4px;
	left: 34px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #fff;
}
#tabs button{
	color: white;
	padding: 10px 40px 10px 20px;
	background: #3395ED;
	border:1px solid #3395ED;
	border-radius: 10px;
	position: relative;
	outline: none;
}
#tabs #tab2-content >button::after{
	content:">";
	width: 29px;
	height: 29px;
	right: 3px;
	top: 3px;
	border-radius: 50%; 
	background: #2a7ac1;
	position: absolute;
	line-height: 29px;
	font-weight: bold;
	font-size: 16px;
}
#tabs #tab2-content >button:hover{
	background: #dd4b39;
	border:1px solid #dd4b39;
	cursor: pointer;
}
#tabs #tab2-content >button:hover::after{
	color: black;
	background: #ddd;
}
#tab3-content{
	padding: 30px;
}
#tooltip{
padding: 10px;
  border-radius: 4px;
  background: #f75440;
  width: 200px;
  position: absolute;
  color: #fff;
  top: 130%;
  right: -100px;
  display: none;
}
#tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 15%;
  top: -25%;
  border-bottom: 12px solid #f75440;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#tab3-content > button:hover{
	background: #dd4b39;
	border:1px solid #dd4b39;
	cursor: pointer;
}
#tab3-content > button:hover #tooltip{
	display: block;
}